* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
      scroll-behavior: smooth;
}

body {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(27, 27, 27);

    color: var(--text-color);
    background-color: var(--background-color);

    font-family:
        /* Safari for OS X and iOS (San Francisco) */
        -apple-system,
        /* Chrome < 56 for OS X (San Francisco) */
        BlinkMacSystemFont,
        /* Windows */
        "Segoe UI",
        /* Android */
        "Roboto",
        /* Basic web fallback */
        "Helvetica Neue", Arial, sans-serif,
        /* Emoji fonts */
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        /* Fallback */
        sans-serif;

    font-size: medium;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 670px;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: rgb(18, 18, 18);
        --text-color: rgb(160, 160, 160);
    }
}

h1 a {
    text-decoration: none;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

nav li a {
    font-size: 18px;
}

a {
    color: inherit;
}

header h1 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 2em;
}

h1 {
    margin-top: 33px;
    margin-bottom: 20px;
    font-size: 18px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 20px;
}

h3 {
    margin-top: 27px;
    margin-bottom: 23px;
    font-size: 17px;
}

nav h3 {
    margin-top: 0;
    font-size: 1.19em;
}

.entry-summary {
    margin-bottom: 5px;
}

article header h2 {
    margin-bottom: 20px;
}

.entry-title {
    margin-bottom: 13px;
}

.post-info {
    margin-bottom: 25px;
}

.toc {
    margin-bottom: 40px;
}

.toctitle {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 33px;
}

.toc li {
    margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

hr {
    padding-top: 15px;
    padding-bottom: 15px;
}

.clearfix {
    clear: both;
}

h2.entry-title {
    color: var(--text-color);
    font-size: larger;
}

p:not(:first-child) {
    margin-top: 30px;
}

p,
ul,
.post-info time.published,
body dl dt {
    line-height: 30px;
    letter-spacing: .5px;
}

p,
ul,
body dl dt {
    font-size: 20px;
    font-weight: 300;
}

.post-info time.published {
    font-size: 15px;
}

#post-list > li {
    margin: 0 0;
    list-style: none;
}

#post-list > li:not(:last-child) {
    margin-bottom: 50px;
}

p.info {
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 40px;
}

header {
    text-align: center;
}

header h2 {
    text-align: left;
}

header h1 a strong {
    color: var(--text-color);
    padding-top: 2px;
    display: block;
    font-size: 14px;
}

footer.post-info {
    position: relative;
    text-align: left;
    clear: both;
}

.post-info time.published {
    color: var(--text-color);
    font-weight: bold;
}

.entry-summary {
    color: var(--text-color);
}

.entry-summary,
.entry-content {
    margin-top: 5px;
}

strong.back-to-the-top {
    margin-top: 25px;
    display: block;
    text-align: right;
}

blockquote {
    color: var(--text-color);
    margin-left: 20px;
    margin-top: 15px;
    padding-left: 15px;
    border-left: var(--text-color) solid 3px;
}

#content .paginator {
    margin-top: 45px;
}

body > dl dd:not(:last-child) {
    margin-top: 4px;
}

body > dl dd {
    color: var(--text-color);
    font-weight: lighter;
}

body > dl dt:not(:first-child) {
    margin-top: 25px;
}

.entry-content .highlight pre {
    margin-top: 20px;
    overflow: auto;
    padding: 20px;
}

code {
    overflow: auto;
}

li {
    margin-top: 25px;
    margin-left: 30px;
}

.summary-suffix {
    font-weight: bold;
    color: var(--text-color);
}

.tag {
    margin: 0;
    padding: 0;
    display: inline;
    color: var(--text-color);
}

.tag:not(:first-child) {
    margin-left: 15px;
}

.tags {
    margin-top: 15px;
}

.full-tags-list {
    text-align: center;
}

.full-tags-list li {
    border: 1px solid var(--text-color);
    display: inline-block;
    padding: 4px 7px;
    margin-left: 10px;
}

body > li {
    list-style: none;
}

nav.landing-page {
    max-width: 530px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.landing-page li {
    list-style: none;
    margin-bottom: 50px;
}

.landing-page li h3 {
    text-align: left;
    margin-bottom: 15px;
}

.landing-page li section {
    max-width: 100%;
    text-align: left;
}

@keyframes show-back-to-top {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide-back-to-top {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.back-to-the-top {
    animation: hide-back-to-top 1s;
    background-color: inherit;
    border-radius: 3px;
    border: 1px solid var(--text-color);
    bottom: 35px;
    display: block;
    font-size: 35px;
    height: 40px;
    opacity: 0;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 40px;
}

.back-to-the-top.active {
    animation: show-back-to-top 1s;
    opacity: 1;
}

a.back-to-the-top {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    padding: 15px;
}

th {
    border-bottom: 1px solid var(--text-color);
}

td {
    border-left: 1px solid var(--text-color);
}

td:first-child {
    text-align: right;
}

td:last-child {
    border-right: 1px solid var(--text-color);
}

tr:last-child {
    border-bottom: 1px solid var(--text-color);
}

@media (orientation: landscape) and (max-device-width: 599px) {
    p {
        font-size: 13px;
        line-height: 16px;
    }
}
