* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #111;
    color: #bbb;
    font-family: sans-serif;
    font-size: large;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 670px;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav li {
    display: inline;
}

nav li:not(:last-child) {
    margin-right: 0;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Futura, sans-serif;
    font-weight: lighter;
}

h2.entry-title {
    color: #555;
    font-size: larger;
}

h2.entry-title a {
    text-decoration: none;
}

p:not(:first-child) {
    margin-top: 30px;
}

p,
ul,
.post-info time.published,
body dl dt {
    line-height: 25px;
    letter-spacing: .5px;
    font-family: Optima, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

#post-list > li {
    margin: 0 0;
    list-style: none;
}

#post-list > li:not(:last-child) {
    margin-bottom: 40px;
}

header {
    text-align: center;
    margin-bottom: 3px;
}

header h1 a strong {
    color: #555;
    display: block;
    font-size: small;
    font-weight: 1;
}

footer {
    text-align: center;
}

.post-info time.published {
    font-size: smaller;
    color: #999;
}

.entry-content {
    margin-top: 20px;
}

#content .paginator {
    margin-top: 45px;
}

body > dl dd:not(:last-child) {
    margin-top: 4px;
}

body > dl dd {
    color: #555;
    font-family: Futura, sans-serif;
    font-weight: lighter;
}

body > dl dd a {
    text-decoration: none;
}

body > dl dt:not(:first-child) {
    margin-top: 25px;
}

.entry-content .highlight pre {
    margin-top: 20px;
    overflow: auto;
    padding: 20px;
}

li {
    margin-top: 25px;
    margin-left: 30px;
}

.summary-suffix {
    font-weight: bold;
    color: #555;
}

/*
 * Disable unwanted elements from Pelican's simple theme that backs this one.
 */
section#content > h2:first-child,
footer #about,
.post-info address.author,
#index > h1 {
    display: none;
}
