{% extends "meta.html" %}

{% block nav_and_content %}

<nav class="landing-page">
    <ul>
        <li>
            <h3><a href="{{ SITE_URL }}/articles.html">Articles</a></h3>
            <section>
                <p>
                    Articles I've written about information security, software
                    development, and all areas in between.
                </p>
                <p>
                    You can also view the whole
                    <a href="/archives.html">archive</a>
                    or browse the
                    <a href="{{ SITE_URL }}/tags.html">tags</a>.
                </p>
            </section>
            <div class="clearfix"></div>
        </li>
        <li>
            <h3><a href="{{ SITE_URL }}/pages/about.html">About</a></h3>
            <section>
                <p>
                    Who I am and what makes me tick. What I can do, what I like, and
                    the technologies I'm familiar with.
                    <a href="{{ SITE_URL }}theme/cv/louis-jackman-cv.pdf">My CV</a>.
                </p>
                <p>
                    Expect unnecessary asides and verbose diversions.
                </p>
            </section>
            <div class="clearfix"></div>
        </li>
        <li>
            <h3><a href="{{ GITHUB_URL }}">Projects</a></h3>
            <section>
                <p>
                    My personal projects, which currently include
                    <a href="https://sylan.technology">
                        a new programming language written in Rust</a>,
                    some small C and Python utilities, some JavaScript games and
                    visualisations, and
                    <a href="https://github.com/LouisJackman/volatile_thunk">this website itself</a>.
                </p>
                <p>
                    Pull requests are welcome.
                </p>
            </section>
            <div class="clearfix"></div>
        </li>
        <li>
            <h3><a href="{{ SITE_URL }}/pages/contact.html">Contact</a></h3>
            <section>
                <p>
                    How to contact me.
                </p>
                <p>
                    More specifically, how to contact me in a way that I'll actually
                    respond.
                </p>
            </section>
            <div class="clearfix"></div>
        </li>
    </ul>
</nav>

{% endblock %}
