<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="referrer" content="strict-origin" />

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        {% if article %}
          {% for tag in article.ogtags %}
            <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
          {% endfor %}
        {% endif %}

        {% if page %}
          {% for tag in page.ogtags %}
            <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
          {% endfor %}
        {% endif %}

        {% if SITE_DESCRIPTION %}
          <meta name="description" content="{{ SITE_DESCRIPTION }}">
        {% endif %}

        {% if SITE_KEYWORDS %}
          <meta name="keywords" content="{{ SITE_KEYWORDS | join(',') }}">
        {% endif %}

        <meta name="theme-color" content="#d0c9c0">
        <meta name="apple-mobile-web-app-status-bar-style" content="#d0c9c0">

        <meta name="author" content="Louis Jackman">
        <meta name="viewport" content="width=device-width,height=device-height">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/large-style.css" media="(min-width: 600px)" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />
        <link rel="author" href="{{ SITEURL }}/pages/about.html">
        <meta name="generator" content="Pelican" />

        {% endblock head %}
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        </header><!-- /#banner -->
        {% block nav_and_content %}
        {% endblock %}

        <a class="back-to-the-top" href="#">^</a>

        <script async src="{{ SITEURL }}/theme/scripts/main.js"></script>
</body>
</html>
